p{
    margin: 0 auto;
    width: 500px;
    font-family: 'Noto Serif', serif;
    font-size: 20px
  }
  h1, h3{
    text-align: center;
    font-family: 'Noto Sans', sans serif;
    font-weight: bold;
  }
  ul{
    text-align:center; 
    width: 500px;
    margin: 0 auto;
    list-style-type: none;
    position: relative;
    right: 21px;
    
  }
  html {
    background-color: lightpink
  }
